DungeonBrosTrophyPackFileConverter/DungeonBrosTrophyPackFileConverter/bin/
DungeonBrosTrophyPackFileConverter/DungeonBrosTrophyPackFileConverter/obj/
DungeonBrosTrophyPackFileConverter/DungeonBrosTrophyPackFileConverter/Properties/AssemblyInfo.cs
DungeonBrosTrophyPackFileConverter/DungeonBrosTrophyPackFileConverter/DungeonBrosTrophyPackFileConverter.csproj
DungeonBrosTrophyPackFileConverter/DungeonBrosTrophyPackFileConverter.sln
DungeonBrosTrophyPackFileConverter/.vs/DungeonBrosTrophyPackFileConverter/v14/.suo
